In [1]:
import pandas as pd
import numpy as np

In [3]:
# 读取数据
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [4]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
# 缺失值处理
# 移除没有标签的行，并将目标数据分离出来
train_data.dropna(axis=0, subset=['Embarked'], inplace=True)
y = train_data.Survived
feature = ['Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked', 'Age']
X_full_train = pd.get_dummies(train_data[feature].copy())
X_test = pd.get_dummies(test_data[feature].copy())

from sklearn.impute import SimpleImputer
# Age缺失值处理
numerical_transformer = SimpleImputer(strategy='median')
imputed_X_train = pd.DataFrame(numerical_transformer.fit_transform(X_full_train))

from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(imputed_X_train, y, train_size = 0.8, test_size = 0.2)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
# 使用随机森林
def get_accuracy(n, train_X, train_y, valid_x, valid_y):
    model = RandomForestClassifier(n_estimators = n)
    model.fit(train_X, train_y)
    predict_train = model.predict(valid_x)
    accuracy = accuracy_score(predict_train, valid_y)
    return accuracy

n_estim = [50, 100, 200, 500, 1000]
for n in n_estim:
    a = get_accuracy(n, X_train, y_train, X_valid, y_valid)
    print("Accuracy is %f" %a)

In [ ]:
from sklearn.metrics import accuracy_score
from xgboost import XGBRegressor
my_model = XGBRegressor(n_estimators=1000, learning_rate=0.05)
my_model.fit(X_train, y_train, 
             early_stopping_rounds=5, 
             eval_set=[(X_valid, y_valid)], 
             verbose=False)
pred = my_model.predict(X_valid)
accuracy_s = accuracy_score(pred, y_valid)
print("Accuracy is %f" %accuracy_s)

In [2]:
a = pd.Series([1,2,3,4,5])
b = pd.Series([2,1,3,6,5])
a[a==b]

2    3
4    5
dtype: int64